<nb-card>
    <nb-card-header class="bkg-header-yellow">Cadastro de Campeonato
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
            <div class="form-row">
                <div class="form-group resp-form-row column ml-sm-4 ml-md-4 ml-lg-4">
                    <label for="name" class="label">Nome da Categoria</label>
                    <input fullWidth type="text" nbInput fullWidth id="name" placeholder="Ex: 1.0 aspirado"
                        formControlName="name">
                    <!-- <div class="text-danger"
                        *ngIf="processForm.get('number').invalid && processForm.get('number').touched">
                        <div *ngIf="processForm.get('number').errors.required">*Campo obrigatório</div>
                        <div *ngIf="processForm.get('number').errors.minlength">*Caracteres insuficientes</div>
                        <div *ngIf="processForm.get('number').errors.maxlength">*Caracteres excedentes</div>
                        <div *ngIf="processForm.get('number').errors.pattern">*Campo Inválido</div>
                    </div> -->
                </div>
                <div class="form-group resp-form-row column ml-sm-4 ml-md-4 ml-lg-4">
                    <label for="name" class="label">Descrição</label>
                    <input fullWidth type="text" nbInput fullWidth id="description" placeholder="Ex: Carros 1.0 sem turbina"
                        formControlName="description">
                    <!-- <div class="text-danger"
                        *ngIf="processForm.get('number').invalid && processForm.get('number').touched">
                        <div *ngIf="processForm.get('number').errors.required">*Campo obrigatório</div>
                        <div *ngIf="processForm.get('number').errors.minlength">*Caracteres insuficientes</div>
                        <div *ngIf="processForm.get('number').errors.maxlength">*Caracteres excedentes</div>
                        <div *ngIf="processForm.get('number').errors.pattern">*Campo Inválido</div>
                    </div> -->
                </div>
            </div>
            <div class="form-row d-flex justify-content-end mt-4">
                <button class="mr-3" type="submit" nbButton size="medium" status="basic">
                    <!-- <div *ngIf="submittingForm" class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                    </div> -->
                    CANCELAR
                    <!-- <span *ngIf="!submittingForm"> {{currentAction == 'new' ? 'CADASTRAR' : 'SALVAR'}}</span> -->
                </button>
                <button type="submit" class="float-right" nbButton size="medium" status="info">
                    <!-- <div *ngIf="submittingForm" class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                    </div> -->
                    SALVAR
                    <!-- <span *ngIf="!submittingForm"> {{currentAction == 'new' ? 'CADASTRAR' : 'SALVAR'}}</span> -->
                </button>
            </div>
            <!-- {{roundForm.value | json}} -->
        </form>
    </nb-card-body>
</nb-card>
