<nb-card>
    <nb-card-header class="bkg-header-yellow">{{pageTitle}}
    </nb-card-header>
    <nb-card-body>

        
        <form [formGroup]="timeForm" (ngSubmit)="submitForm()">
            <div class="form-row">

            <div class="form-group resp-form-row column ml-md-2">
                <label for="battery" class="label">Número da bateria</label>
                <input fullWidth type="number" nbInput fullWidth id="battery" placeholder="Ex: 1" formControlName="battery">
            </div>

             <div class="form-group resp-form-row column ml-md-2 ">
                <label for="championship" class="label">Campeonato</label>
                <nb-select fullWidth id="championship" placeholder="Campeonato" formControlName="championship">
                    <nb-option *ngFor="let championship of championships" [value]="championship.id">{{championship.name}}
                    </nb-option>
                </nb-select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group resp-form-row column ml-md-2">
                <label for="car" class="label">Carro 1</label>
                    <nb-select fullWidth id="car" placeholder="Carro" formControlName="runner1" (selectedChange)="updateview()">
                        <nb-option *ngFor="let car of cars" [value]="car.id">
                            {{car.name}}
                        </nb-option>
                    </nb-select>
            </div>
            <div class="form-group resp-form-row column ml-md-2">
                <label for="sensor" class="label">Partida</label>
                    <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_1_1" (selectedChange)="updateview()"> 
                        <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                            {{sensor.id}}
                        </nb-option>
                    </nb-select>
            </div>

            <div class="form-group resp-form-row column ml-md-2">
                    <label for="sensor" class="label">Volta 1</label>
                    <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_2_1" (selectedChange)="updateview()">
                        <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                            {{sensor.id}}
                        </nb-option>
                    </nb-select>
            </div>

            <div class="form-group resp-form-row column ml-md-2">
                    <label for="sensor" class="label">Volta 2</label>
                    <nb-select fullWidth id="sensor_3_1" placeholder="Sensor" formControlName="sensor_3_1" (selectedChange)="updateview()">
                        <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                            {{sensor.id}}
                        </nb-option>
                    </nb-select>
            </div>
            <div class="form-group resp-form-row column ml-md-2">
                <label for="sensor" class="label">Volta 3</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_4_1" (selectedChange)="updateview()" >
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
            </div>
    </div>
    <div class="form-row">
        <div class="form-group resp-form-row column ml-md-2">
            <label for="car" class="label">Carro 2</label>
                <nb-select fullWidth id="car" placeholder="Carro" formControlName="runner2" (selectedChange)="updateview()">
                    <nb-option *ngFor="let car of cars" [value]="car.id">
                        {{car.name}}
                    </nb-option>
                </nb-select>
        </div>
        <div class="form-group resp-form-row column ml-md-2">
            <label for="sensor" class="label">Partida</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_1_2" (selectedChange)="updateview()"> 
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
        </div>

        <div class="form-group resp-form-row column ml-md-2">
                <label for="sensor" class="label">Volta 1</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_2_2" (selectedChange)="updateview()">
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
        </div>

        <div class="form-group resp-form-row column ml-md-2">
                <label for="sensor" class="label">Volta 2</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_3_2" (selectedChange)="updateview()">
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
        </div>
        
        <div class="form-group resp-form-row column ml-md-2">
            <label for="sensor" class="label">Volta 3</label>
            <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_4_2" (selectedChange)="updateview()" >
                <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                    {{sensor.id}}
                </nb-option>
            </nb-select>
        </div>
</div>

    <div class="form-row">
        <div class="form-group resp-form-row column ml-md-2">
            <label for="car" class="label">Carro 3</label>
                <nb-select fullWidth id="car3" placeholder="Carro" formControlName="runner3" (selectedChange)="updateview()">
                    <nb-option *ngFor="let car of cars" [value]="car.id">
                        {{car.name}}
                    </nb-option>
                </nb-select>
        </div>
        <div class="form-group resp-form-row column ml-md-2">
            <label for="sensor" class="label">Partida</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" (selectedChange)="updateview()" formControlName="sensor_1_3"> 
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
        </div>

        <div class="form-group resp-form-row column ml-md-2">
                <label for="sensor" class="label">Volta 1</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_2_3" (selectedChange)="updateview()">
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
        </div>

        <div class="form-group resp-form-row column ml-md-2">
                <label for="sensor" class="label">Volta 2</label>
                <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_3_3" (selectedChange)="updateview()">
                    <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                        {{sensor.id}}
                    </nb-option>
                </nb-select>
        </div>
        
        <div class="form-group resp-form-row column ml-md-2">
            <label for="sensor" class="label">Volta 3</label>
            <nb-select fullWidth id="sensor" placeholder="Sensor" formControlName="sensor_4_3" (selectedChange)="updateview()" >
                <nb-option *ngFor="let sensor of sensors" [value]="sensor.time">
                    {{sensor.id}}
                </nb-option>
            </nb-select>
        </div>
</div>

        <div class="form-row d-flex justify-content-end mt-4">
                <button class="mr-3" type="submit" nbButton size="medium" status="basic">
                    CANCELAR
                </button>

                <button type="submit" class="float-right" nbButton size="medium" status="info">
                    SALVAR
                </button>
        </div>

        </form> 
    </nb-card-body>
</nb-card> 