<nb-card>
    <nb-card-header class="bkg-header-yellow">Carro na Pista
    </nb-card-header>
    <nb-card-body>


        <div class="d-flex flex-row justify-content-between mb-4">
            <div class="form-group resp-form-row column ml-sm-4 ml-md-4 ml-lg-4">
                <label for="championship" class="label">Campeonato</label>
                <nb-select (selectedChange)="getLapsByChampionship($event)" fullWidth placeholder="Campeonato">
                    <nb-option *ngFor="let championship of championships" [value]="championship.id">
                        {{championship.name}}
                    </nb-option>
                </nb-select>
            </div>

            <div class="form-group resp-form-row column ml-sm-4 ml-md-4 ml-lg-4">
                <label for="championship" class="label">Enviar Carro Para Pista:</label>
                <nb-select [disabled]="cars.length ==0" (selectedChange)="sendCarToTrack($event)" fullWidth
                    placeholder="Carro">
                    <nb-option *ngFor="let car of cars" [value]="car.id">
                        {{car.name}}
                    </nb-option>
                </nb-select>
            </div>
        </div>

        <div class="form-group resp-form-row column ml-sm-4 ml-md-4 ml-lg-4">
            <label for="ontrack" class="label">Selecione carro:</label>
            <nb-select (selectedChange)="getInfo($event)" fullWidth id="ontrack" placeholder="Carro">
                <nb-option *ngFor="let car of cars" [value]="car.id">
                    {{car.name}}
                </nb-option>
            </nb-select>
        </div>

        <div class="d-flex flex-row justify-content-around">
            <div class="mb-4">
                <div>
                    <strong>Nome:</strong> {{this.car_name}}
                </div>
                <div>
                    <strong>Modelo:</strong> {{this.car_model}}
                </div>
                <div>
                    <strong>Proprietário:</strong> {{this.car_owner}}
                </div>
                <div>
                    <strong>Placa:</strong> {{this.car_plate}}
                </div>
            </div>


            <div>
                <div>
                    <strong>Campeonato:</strong> {{this.car_plate}}
                </div>
                <div>
                    <strong>Bateria:</strong> {{this.car_plate}}
                </div>
            </div>
        </div>



        <table>
            <tr>
                <th>Corredor</th>
                <th>Volta 1</th>
                <th>Volta 2</th>
                <th>Volta 3</th>
            </tr>
            <tr *ngFor="let lap of laps_championship; let i = index;"  >
                <td>{{this.name_car[lap.carId]}}</td>                
                <td>{{lap.lap_1}}</td>
                <td>{{lap.lap_2}}</td>
                <td>{{lap.lap_3}}</td>
            
            </tr>
        </table>



        <!-- <button (click)="emit()">fasdfasdf</button> -->



    </nb-card-body>
</nb-card>