<nb-card>
    <nb-card-header class="bkg-header-yellow">
    </nb-card-header>

    <nb-card-body>
        <div class="d-flex flex-row justify-content-around">
            <div class="mb-4">
                <div class="row mx-md-n5">
                    <span class="bigger"><strong>Nome:</strong> {{name1}}</span>
                </div>
                <div class="row mx-md-n5">
                    <span class="bigger"><strong>Proprietário:</strong> {{owner1}}</span>
                </div>
            </div>
            <div>
                <span class="bigger"><p>Volta 1: {{sum1_1m}}:{{sum1_1s}}.{{sum1_1ms}}</p></span>
                <span class="bigger"><p>Volta 2: {{sum2_1m}}:{{sum2_1s}}.{{sum2_1ms}}</p></span>
                <span class="bigger"><p>Volta 3: {{sum3_1m}}:{{sum3_1s}}.{{sum3_1ms}}</p></span>
              </div>

            </div>
    </nb-card-body>
</nb-card> 
<nb-card>
    <nb-card-header class="bkg-header-yellow">
    </nb-card-header>
    <nb-card-body>
        <div class="d-flex flex-row justify-content-around">
            <div class="mb-4">
                <div class="row mx-md-n5">
                    <span class="bigger"><strong>Nome:</strong> {{name2}}</span>
                </div>
                <div class="row mx-md-n5">
                    <span class="bigger"><strong>Proprietário:</strong> {{owner2}}</span>
                </div>
            </div>
            <div>
                <span class="bigger"><p>Volta 1: {{sum1_2m}}:{{sum1_2s}}.{{sum1_2ms}}</p></span>
                <span class="bigger"><p>Volta 2: {{sum2_2m}}:{{sum2_2s}}.{{sum2_2ms}}</p></span>
                <span class="bigger"><p>Volta 3: {{sum3_2m}}:{{sum3_2s}}.{{sum3_2ms}}</p></span>
              </div> 
        </div>




    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header class="bkg-header-yellow">
    </nb-card-header>
    <nb-card-body>
        <div class="d-flex flex-row justify-content-around">
            <div class="mb-4">
                <div class="row mx-md-n5">
                    <span class="bigger"><strong>Nome:</strong> {{name3}}</span>
                </div>
                <div class="row mx-md-n5">
                     <span class="bigger"><strong>Proprietário:</strong> {{owner3}}</span>
                </div>
               
            </div>
            <div>
                <span class="bigger"><p>Volta 1: {{sum1_3m}}:{{sum1_3s}}.{{sum1_3ms}}</p></span>
                <span class="bigger"><p>Volta 2: {{sum2_3m}}:{{sum2_3s}}.{{sum2_3ms}}</p></span>
                <span class="bigger"><p>Volta 3: {{sum3_3m}}:{{sum3_3s}}.{{sum3_3ms}}</p></span>
              </div>
        </div>
    </nb-card-body>
</nb-card> 